.content_address {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-top: 13%;
}

.writeaddress_div {
    text-align: left;
    border: 1px solid #070707;
    padding: 1%;
    background-color: white;
    margin-right: 4px;
    margin-left: 5%;
    margin-top: 1%;
    width: 50%;
}

.innerAddress_div {
    border: 1px solid #FCF8E8;
    height: 360px;
    padding: 10px;
    text-align: left;
    
}

textarea.txtarea{
    height: 70px;
    margin-left: 0%;
}

    

.Btn_div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.bttn {
    margin-left: 25px;
    width: 150px;
    margin-right: 10px;
}

.text_line {
    width: 290px;
     margin-left: 0%; 
}



.rightaddress_div {
    width: 250px;
    height: 450px;
    border: 1px solid #f6f7eb;
    padding: 9px;
}

.radio_div {
    display: flex;
    flex-direction: row;
}

.card_address {
    border: 1px solid #44bba4;
    width: 180px;
    height: 150px;
    margin-left: 12px;
    background-color: #578AB0;
    color: white;
}