    .sidebar {
        background-color: #004A5F;
        width: 280px;
        height: 80vh;
        font-size: 26px;
        margin-top: 7%;
        margin-left: 1%;
        color: white;
        gap: 5%;
        position: fixed;
    }
    
    .filter {
        font-size: 25px;
        padding-top: 1rem;
    }