.price {
    margin-left: 15%;
    margin-top: 4%;
    color: white;
}

.houseIcon {
    color: black;
    margin-bottom: -2%;
    height: 15px;
}

.CardPosition {
    margin-top: 300px;
    margin-left: -12%;
    margin-right: 60px;
}

.results {
    font-weight: 400;
    margin-left: -30%;
    margin-bottom: -2%;
}

.Header_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: #578AB0;
    padding: 1%;
    position: fixed;
}

.container_listing {
    /* margin-top: 2%; */
}