.formControl {
    width: 30%;
    margin-bottom: 30px !important;
  }
  .form-label{
    margin-left: -249%;
  }
  img{
    width: 100%;
    height: 100%;
  }

  .text{
    text-align: "center";
    font-size: 'bold';
    color:red !important;
  }