.Header_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: #578AB0;
    padding: 1%;
    position: fixed;
    overflow: hidden;
    margin-top: -13%;
}

.Heading_div {
    margin-left: 2%;
    margin-top: 2%;
    color: white;
}

.Handshake_icon {
    width: 100px;
    height: 100px;
    color: white;
}

.home_icon {
    width: 60px;
    height: 60px;
    float: left;
    color: white;
}

.account_icon {
    width: 60px;
    height: 60px;
    margin-top: -10%;
    color: white;
}

.Profile_div {
    margin-top: 2%;
}

.Login_div {
    margin-left: 48%;
    margin-right: 0%;
    margin-top: 1%;
}

.profilebtn {
    margin-left: -48%;
    width: 30px;
    height: 30px;
    opacity: 50%;
}

.image_div{
margin-top: 0%;
}