.Header_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: #578AB0;
    padding: 1%;
    position: fixed;
    overflow: hidden;
    margin-top: -13%;
}

.Heading_div {
    margin-left: 2%;
    margin-top: 2%;
    color: white;
}

.Handshake_icon {
    width: 80px;
    height: 80px;
    color: white;
}

.home_icon {
    width: 30px;
    height: 30px;
    float: left;
    color: white;
}

.account_icon {
    width: 30px;
    height: 30px;
     /* margin-top: -41%;  */
    color: white;
    /* margin-left: 40%; */
}

.Profile_div {
    margin-top: 2%;
}

.Login_div {
    /* margin-left: 48%; */
    /* margin-right: 0%; */
    /* margin-top: 2%; */
}

.profilebtn {
    /* margin-left: -48%; */
    width: 30px;
    height: 30px;
    /* opacity: 50%; */
}

.Logout_div{
    margin-top: 2%;
    /* width: 200px;
    height: 200px; */
    
}

.logout{
height: 40px;
width: 40px;
/* margin-left: 40%; */
/* opacity: 0%; */
}

.image_div{
margin-top: 0%;
}